<div class="ecommerce-menu">
    <div class="collection">
        <a href="/Products" class="collection-item">Produkty</a>
        <a href="/ProductCategory" class="collection-item">Kategorie</a>
        <a href="/ProductImage" class="collection-item">Galeria</a>
        <a href="/Promotions" class="collection-item">Promocje</a>
    </div>
</div>