@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-5">
    <h4 class="display-4">Witaj w panelu zarządzania aplikacją <strong>Intranet</strong></h4>
    <p>
        Wybierz opcję z paska menu aby rozpocząć zarządzanie systemem.
    </p>
</div>
